section.section {
    width: 50%;
    display: inline-block;
    margin: 20px 5vw;
}
aside.aside {
    width: 35%;
    display: inline-block;

}


@media (max-width: 576px) {
    .login {
        width: 96%;
        margin: 2%;
    }
    section.section {
        width: 90%;
        display: block;
        margin: 20px 10px;
    }
    aside.aside {
        width: 85%;
        display: block;
        margin: 20px 10px;

    }

}