{% extends 'head.html' %} {% block content %} {% load index %}
<div class="container d-flex justify-content-center">
    <div class="row justify-content-center" style="width: 60%;">
        <div class="card shadow-lg o-hidden border-0 my-4">
            <div class="card-body p-0">
                <div class="col">
                    <div class="p-4">
                        {% if product %}
                        <form class=" user" action="{% url 'polls:saveEditP' product.id %}" method="post" enctype="multipart/form-data">
                            {% else%}
                            <form class=" user" action="{% url 'polls:addproduct' %}" method="post" enctype="multipart/form-data">

                                {% endif%} {% csrf_token %} {% if product %} {% load index %}
                                <div class="mb-3">
                                    <img src="{{ product.product_img.name|getImgUrl}}" class="img" style="height:300px;width:400px; margin:20px">
                                    <a style="height:20px;padding:3px 10px" class="ui button white"><i class="upload icon"></i></a></img>


                                </div>
                                <div class="mb-3">

                                    <input class="form-control form-control-user" type="text" name="product_name" placeholder="{{ 'Product Name'|translation:lang}}" value="{{product.product_name}}">
                                </div>
                                <div class="mb-3">
                                    <input class="form-control form-control-user" type="text" name="product_price" placeholder="{{ 'Product Price'|translation:lang}}" value="{{product.product_price}}">
                                </div>
                                <div class="mb-3">
                                    <input class="form-control" type="text" name="product_qentity" placeholder="{{ 'Product Quntity'|translation:lang}}" value="{{product.product_qentity}}">
                                </div>
                                <div class="mb-3">
                                    <input class="form-control" type="text" name="product_shortD" placeholder="{{ 'Product Short Description'|translation:lang}}" value="{{product.product_shortD}}">
                                </div>
                                <div class="mb-3">
                                    <textarea class="form-control" style="height:100px" type="text" name="product_longD" placeholder="{{ 'Product Long Description'|translation:lang}}" value="">{{product.product_longD}}</textarea>
                                </div>

                                <div class="mb-3">
                                    <input class="form-control " id="id_image" type="file" class="" name="image">

                                </div>
                                <select class="form-control mb-3" name="sorts" id="sorts">
                {% for sort in sorts %}
                <optgroup label="{{ sort.sort}}">
                    {% for subsort1 in sort.subsort_set.all %}
                    <option value="{{ subsort1.id}}">{{ subsort1.subsort }}</option>
                    {% endfor%}
                </optgroup>
                {% endfor%}
            </select>
                                <div class="mb-3">
                                    <input class="btn cyellow container" type="submit" name="submit" value="{{ 'Edit Product'|translation:lang}}">
                                </div>
                                <div class="mb-3">
                                    <a href="{% url 'polls:deleteProduct' product.id  %}" class="btn btn-danger container">{{ 'Delete'|translation:lang}}</a>
                                </div>
                                {% else%}
                                <div class="mb-3">

                                    <input class="form-control" type="text" name="product_name" placeholder="{{ 'Product Name'|translation:lang}}" value="{{product}}">
                                </div>
                                <div class="mb-3">
                                    <input class="form-control" type="text" name="product_price" placeholder="{{ 'Product Price'|translation:lang}}">
                                </div>
                                <div class="mb-3">
                                    <input class="form-control" type="text" name="product_qentity" placeholder="{{ 'Product Quntity'|translation:lang}}">
                                </div>
                                <div class="mb-3">
                                    <input class="form-control" type="text" name="product_shortD" placeholder="{{ 'Product Short Description'|translation:lang}}">
                                </div>
                                <div class="mb-3">
                                    <textarea class="form-control"  type="text" name="product_longD" placeholder="{{ 'Product Long Description'|translation:lang}}"></textarea>
                                </div>
                                <div class="mb-3">
                                    <input class="form-control" id="id_image" type="file" class="" name="image" title="ttt">
                                </div>
                                <div class="mb-3">
                                    <select class="form-control" name="sort" id="sort">
                {% for sort in sorts %}
                <optgroup label="{{ sort.sort}}">
                    {% for subsort1 in sort.subsort_set.all %}
                    <option value="{{ subsort1.id}}">{{ subsort1.subsort }}</option>
                    {% endfor%}
                </optgroup>
                {% endfor%}
            </select>



                                </div>
                                <div class="mb-3">
                                    
                                    <input class="btn cyellow container" type="submit" name="submit" value="{{ 'Add Product'|translation:lang}}">
                                </div>


                                {% endif%}



                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}