<!DOCTYPE html>
{% load index %}

<html dir="{{ lang|dir }}" lang="ar">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>login</title>


{% load static %}
{% load index %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/colors.css' %}">


<style type="text/css">
    body {
      background-color: #4a4a5a;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="{% static 'polls/semantic/dist/semantic.min.js' %}"></script>
</head>
<body>
  
  <div class="container d-flex justify-content-center my-5">
    <div class="row ">
        <span class="text-center">
                <a href="{% url 'polls:index'%}"><img height="50px" src="{% static 'polls/cmarket.svg' %}"></a>
          <h2 class="text-light d-inline-block" style="text-align: center;">
                {{ 'Login'|translation:lang}}
            </h2>
        </span>




            
<form  class="card shadow-lg o-hidden border-0 my-4" action="{% url 'polls:login' %}" method="post">
{% csrf_token %}


<div class="card-body p-2">
        <div class="mb-3">
            <input class="form-control" type="text" name="username" placeholder="{{ 'User name'|translation:lang}}">
        </div>
        <div class="mb-3">
            <input class="form-control" type="password" name="password" placeholder="{{ 'Password'|translation:lang}}">
        </div>
        <div class="mb-3">
            <input class="btn cyellow container bold" type="submit" name="submit" value="{{ 'Login'|translation:lang}}">
        </div>
    </div>
</form>
<br/>
<a  class="card btn bold" href="{% url 'polls:signup' %}">{{ 'Sign Up'|translation:lang}}</a>
</div>
    </div>


</body>
</html>