{% load index %}
<div class="container">
    <div class="row">



        {% for order in orders %}
        <div class="p-2 cusCal">

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ order|getCartPro:'name' }}</h5>
                </div>
                <div class="card-body">
                    <img class="card-img-top" style="height:200px; width:auto;max-width: 100%;" src="{{ order|getorder:'img' }}">

                    <h6 class="">{{ order|getorder:'short' }}</h6>
                    <h6 class="">{{ order|getorder:'buyer' }}</h6>
                    <h6 class="">{{ order|getorder:'state' }}</h6>
                    <i class="fas fa-envelope">  </i>
                    <h6 class="card-text">{{ order|getorder:'phone' }}</span>
                        <h6 class="card-text">{{ order|getorder:'address' }}</span>
                            <p class="card-text"> <small class="text-muted"> <i  class="fas fa-phone-alt cblue-text">  </i> +966 543096731</small></p>

                </div>
                <div class="card-footer">
                    <a><i class="price icon"></i>
                        {{ order|getorder:'price' }} $ 
                    </a>
                    <div>
                        <a class="btn cpurple" href="{% url 'polls:orderCompletion' order.id %}">Complete the order</a>
                    </div>
                </div>
            </div>

        </div>

        {% endfor%}
    </div>
</div>