 {% extends 'panalhead.html' %}

 {% block content %}
      {% load index %}

   

         {% if page|panalPage %}
          <div class="tab-pane fade show active" id="list-OBJECTIVE" role="tabpanel" aria-labelledby="list-OBJECTIVE-list">
            {% include 'ordermanagment.html' %}
            </div>
          {% else %}
            <div class="tab-pane fade show active" id="list-EDUCATIONS" role="tabpanel" aria-labelledby="list-EDUCATIONS-list">
            {% include 'productManagment.html' %}
            </div>
          <script>{{ '0'|plus}}</script>
          {% endif %}


 {% include 'sellerOrder.html' %}
 <script>
    function add(){
    {{ '0'|plus}}
    }
 </script>




{% endblock %}
