 {% extends 'head.html' %}

 {% block content %}
      {% load index %}
 <div class="ui center aligned container segment clgreen">
     <p class="header top attached ui ">{{product.product_name}}</p>
     <div class="segment attached  ui">
     <img style="height:300px; width:300px" src="{{ product.product_img.name|getImgUrl }}" >
         </div>
       <p class="segment attached  ui">{{product.product_longD}}</p>
     <p class="segment attached  ui">{{product.product_price}}  $$</p>
     <p class="segment attached  ui">{{product.product_name}}</p>
     <div class="segment attached  ui">
     <a class="ui button" href="{% url 'polls:addToCart' product.id %}">add to cart</a>
         </div>


  <p></p>

</div>



{% endblock %}
