{% load index %}
<div class="container">
    <div class="row">

        {% for item in username.product_set.all %}
        <div class="p-2 cusCal">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{{ item.product_name }}</h5>
                </div>



                <div class="card-body">
                    <img class="card-img-top card-img-top" style="height:200px; width:auto;max-width: 100%;" src="{{ item.product_img.name|getImgUrl }}">

                    <h6 class="">{{ item.product_shortD }}</h6>
                    <h6 class="inline-block"><i class="user icon"></i>{{ item.product_price }}$</h6>
                    <a class="btn cpurple" href="{% url 'polls:editProduct' item.id %}">editproduct</a>




                </div>

            </div>
        </div>
        {% endfor%}</div>
</div>