{% extends 'head.html' %} {% block content %} {% load index %}{% load static %}
<div class="container">
    {% for product in products %}
    <div class="row">
        <div class="card">
            <div class="card-header">
                <a href="{% url 'polls:product' product.id %}">{{product.product_name}}</a>
            </div>
            <div class="card-body"><img src='{{ product.product_img }}' />
                <p>{{ product.product_shortD }}</p>
            </div>
            <div class="card-footer">
                <p>{{product.product_price}}</p><a class="btn btn-dark" href="{% url 'polls:addToCart' product.id %}">add to cart</a></div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}